@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

body{
    margin: 0;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

.big-header{
    background-color: black;
<<<<<<< HEAD
    background-image: url(/Resources/img/backdrop.png);
=======
    background-image: url("../img/backdrop.png"); 
>>>>>>> bbddce122ef48726ca49c2172fdf7c79a49ede72
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo{
    height: 50px;
}

.header-image{
    height: 200px;
    flex-shrink: 0;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

li{
    padding: 0;
    margin: 0;
    font-weight: 900;
}

a{
    color: #FF0000;
    text-decoration: none;
}

.header-links{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.main-header{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
}

.header-content{
    color: white;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header-content-heading{
    font-size: 40px;
    padding-bottom: 20px;
}

.header-content-body{
    font-size: 23px;
}


.button{
    padding-top: 15px;
}

button{
    padding: 2px 10px;
    color: white;
    border:none;
    border:solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(255, 255, 225, 0);
}

.header-content-heading{
    font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}

.info-img{
    height:200px;

}


.item{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text{
    text-align: center;
}

.card-container{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}


.mid-text{
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.testimonial{
    background-color: black;
    color: white;
    display: flex;
    padding: 50px;
    justify-content: center;
}

.test-text{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    max-width: 1000px;
    text-align: center;
}

.CTA{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-left: 300px;
    padding-right: 300px;
}

.CTA-banner{
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    padding: 50px;
    background-color: black;
    color: white;
    gap: 100px;
}

.CTA-text-heading{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
}

.CTA-body{
    font-size: 15px;
    
}

.CTA-button{
    padding: 2px 10px;
    color: rgb(255, 255, 255);
    border:none;
    border:solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(255, 255, 225, 0);
}

.footer{
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer a{
    color: white;
}
<<<<<<< HEAD

=======
>>>>>>> bbddce122ef48726ca49c2172fdf7c79a49ede72
